<%# @messages.each do |m| %>
  <div class="event">
    <div class="content">
      <div class="summary">
        <em style="font-size: 20px"><%=message1.user.name %></em> <p><%=message1.body %></p>
      </div>
    </div>
  </div>
<%#end %>