<!--<h1>This is Index Page in Controller</h1>-->
<h2 class="ui center aligned medium icon header">
  <i class="inverted circular grey users icon"></i>
  Say Something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column" >
    <div class="ui fluid raised card chatbox">
      <div class="content" id="msg_scroll">
        <div class="ui medium feed" id="message-container">
<!--          <h4 class="ui header">Followers Activity</h4>-->
          <%# @messages.each do |m| %>
<!--          <div class="event">-->
<!--            <div class="content">-->
<!--              <div class="summary">-->
<!--                <em style="font-size: 20px"><%#=m.user.name %></em> <p><%#=m.body %></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
            <%#end %>
          <%#= render 'message1s/message' %>
          <%= render @message1s %>
<!--          <div class="event">-->
<!--            <div class="content">-->
<!--              <div class="summary">-->
<!--                <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="event">-->
<!--            <div class="content">-->
<!--              <div class="summary">-->
<!--                <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="event">-->
<!--            <div class="content">-->
<!--              <div class="summary">-->
<!--                <em>Christian Rocha</em>:Test message-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message,html:{class:"ui reply form",role:"form"},url:message_path,remote: true) do |f|%>
<!--        <form class="ui reply form">-->
          <div class="field">
            <div class="ui fluid icon input">
<!--              <input type="text" placeholder="Enter a Message........">-->
              <%= f.text_field :body %>
              <%=f.button '<i class="bordered inverted teal edit icon"></i>'.html_safe%>
            </div>

          </div>

<!--        </form>-->
        <%end %>
      </div>
    </div>
  </div>

        <div class="ui four wide column">
          <div class="ui fluid raised card chatbox">
            <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
        </div>
    </div>
  </div>
</div>