<%# @message1s.each do |m| %>
<!--debugger-->
<div class="event">
  <div class="content">
    <div class="summary">
      <em style="font-size: 20px"><%=message1.user.name %></em> :<p><%=message1.body %></p><span><small><%= message1.created_at %></small></span>
    </div>
  </div>
</div>
<%#end %>